ul {
    list-style: none ; 
}

label {
    width: 100px ;  
    float: left;   
}

li {
    line-height: 30px ;
}

button {
    background-color: red ; 
    color: white;
    border: none ; 
    border-radius: 8px ;
    cursor: pointer;
}



